@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Optional: base light theme colors */
body {
  background-color: #f3f4f6; /* light gray */
  color: #111827; /* near-black text */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
